## Moodle Database Schema Understanding

In [54]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [14]:
def open_local_db(self,**kwargs):
    #
    user = kwargs.get('user', 'postgres')
    db = kwargs.get('db', 'moodle')
    #
    try:
        params = dict(user=user,
                      password='@wamaitha1',
                      host = '127.0.0.1',
                      port = '5432',
                      database = db)
        
        proot = 'postgresql://{user}:{password}@{host}:5432/{database}'.format(**params)
        #print(proot)
        logger.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
        engine = create_engine(proot)
        #
    except(Exception, psycopg2.Error) as error:
        logger.error(f'Error while connecting to PostgreSQL {error}')
        
    self.dbisopen = True
    return engine

In [8]:
%load_ext sql

In [33]:
conn = psycopg2.connect(host = '127.0.0.1',
                       database = 'moodle',
                       user = 'postgres',
                       password = '@wamaitha1')

cur = conn.cursor()

#### The number of tables

In [25]:
cur.execute('SELECT COUNT(*) FROM information_schema.tables')

rows = cur.fetchall()

rows

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

#### The number of records in each of the tables given in the MIT section
**mdl_logstore_standard_log**

In [36]:
cur.execute('SELECT COUNT(*) FROM mdl_logstore_standard_log')

rows = cur.fetchall()

rows

[(417554,)]

**mdl_context**

In [37]:
cur.execute('SELECT COUNT(*) FROM mdl_context')

rows = cur.fetchall()

rows

[(4359,)]

**mdl_user**

In [34]:
cur.execute('SELECT COUNT(*) FROM mdl_user')

rows = cur.fetchall()

rows

[(1052,)]

**mdl_course**

In [38]:
cur.execute('SELECT COUNT(*) FROM mdl_course')

rows = cur.fetchall()

rows

[(15,)]

**mdl_modules**

In [39]:
cur.execute('SELECT COUNT(*) FROM mdl_modules')

rows = cur.fetchall()

rows

[(26,)]

**mdl_course_modules**

In [40]:
cur.execute('SELECT COUNT(*) FROM mdl_course_modules')

rows = cur.fetchall()

rows

[(290,)]

**mdl_course_modules_completion**

In [41]:
cur.execute('SELECT COUNT(*) FROM mdl_course_modules_completion')

rows = cur.fetchall()

rows

[(4483,)]

**mdl_grade_items**

In [42]:
cur.execute('SELECT COUNT(*) FROM mdl_grade_items')

rows = cur.fetchall()

rows

[(113,)]

**mdl_grade_grades**

In [43]:
cur.execute('SELECT COUNT(*) FROM mdl_grade_grades')

rows = cur.fetchall()

rows

[(3643,)]

**mdl_grade_categories**

In [44]:
cur.execute('SELECT COUNT(*) FROM mdl_grade_categories')

rows = cur.fetchall()

rows

[(16,)]

**mdl_grade_items_history**

In [45]:
cur.execute('SELECT COUNT(*) FROM mdl_grade_items_history')

rows = cur.fetchall()

rows

[(486,)]

**mdl_grade_grades_history**

In [46]:
cur.execute('SELECT COUNT(*) FROM mdl_grade_grades_history')

rows = cur.fetchall()

rows

[(7108,)]

**mdl_grade_categories_history**

In [47]:
cur.execute('SELECT COUNT(*) FROM mdl_grade_categories_history')

rows = cur.fetchall()

rows

[(46,)]

**mdl_forum**

In [48]:
cur.execute('SELECT COUNT(*) FROM mdl_forum')

rows = cur.fetchall()

rows

[(34,)]

**mdl_forum_discussions**

In [49]:
cur.execute('SELECT COUNT(*) FROM mdl_forum_discussions')

rows = cur.fetchall()

rows

[(23,)]

**mdl_forum_posts**

In [50]:
cur.execute('SELECT COUNT(*) FROM mdl_forum_posts')

rows = cur.fetchall()

rows

[(131,)]

#### Number of quiz submissions by hour of day

In [55]:
cur.execute("select count(id), EXTRACT(HOUR FROM to_timestamp(timecreated)) AS HOUR from mdl_logstore_standard_log where action='submitted' AND component='mod_quiz' group by EXTRACT(HOUR FROM to_timestamp(timecreated))")

rows = cur.fetchall()

data = pd.DataFrame(rows, columns = ['Number of quiz submission', 'Hour of day'])

data

    Number of quiz submission  Hour of day
0                          26          0.0
1                          23          1.0
2                          30          2.0
3                          29          3.0
4                           7          4.0
5                          14          5.0
6                          10          6.0
7                          18          7.0
8                          17          8.0
9                          34          9.0
10                         46         10.0
11                         69         11.0
12                         95         12.0
13                         88         13.0
14                        104         14.0
15                         90         15.0
16                         80         16.0
17                         68         17.0
18                         68         18.0
19                         70         19.0
20                         57         20.0
21                         55         21.0
22                         46         22.0
23                         53         23.0

#### Monthly usage time of learners who have confirmed and are not deleted

#### Count of log events per user for the following verbs: ['loggedin', 'viewed', 'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered', 'attempted', 'abandoned']

In [62]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'loggedin' group by userid")

rows = cur.fetchall()
     
loggedin = pd.DataFrame(rows, columns = ['userid', 'LoggedIn'])

In [64]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'viewed' group by userid")

rows = cur.fetchall()
     
viewed = pd.DataFrame(rows, columns = ['userid', 'Viewed'])

In [66]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'started' group by userid")

rows = cur.fetchall()
     
started = pd.DataFrame(rows, columns = ['userid', 'Started'])

In [67]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'submitted' group by userid")

rows = cur.fetchall()
     
submitted = pd.DataFrame(rows, columns = ['userid', 'Submitted'])

In [68]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'uploaded' group by userid")

rows = cur.fetchall()
     
uploaded = pd.DataFrame(rows, columns = ['userid', 'Uploaded'])

In [69]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'updated' group by userid")

rows = cur.fetchall()
     
updated = pd.DataFrame(rows, columns = ['userid', 'Updated'])

In [70]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'searched' group by userid")

rows = cur.fetchall()
     
searched = pd.DataFrame(rows, columns = ['userid', 'Searched'])

In [71]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'resumed' group by userid")

rows = cur.fetchall()
     
resumed = pd.DataFrame(rows, columns = ['userid', 'Resumed'])

In [72]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'answered' group by userid")

rows = cur.fetchall()
     
answered = pd.DataFrame(rows, columns = ['userid', 'Answered'])

In [73]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'attempted' group by userid")

rows = cur.fetchall()
     
attempted = pd.DataFrame(rows, columns = ['userid', 'Attempted'])

In [74]:
cur.execute("Select userid, count(*) from mdl_logstore_standard_log where action = 'abandoned' group by userid")

rows = cur.fetchall()
     
abandoned = pd.DataFrame(rows, columns = ['userid', 'Abandoned'])

In [75]:
abandoned.head()

   userid  Abandoned
0       2          5

In [76]:
from functools import reduce

In [ ]:
dataframes = [loggedin, viewed, started, submitted, uploaded, updated, ]

#### Python class to pull overall grade of learners

#### Python class to pull number of forum posts